BOT_TOKEN=123456:ABC-DEF
API_GATEWAY_URL=http://localhost:8080
LOG_LEVEL=INFO
BOT_REDIS_URL=redis://localhost:6379/1

# настройки вебхука
BOT_WEBHOOK_BASE=https://example.com
BOT_WEBHOOK_PATH=YOUR_PATH
BOT_WEBHOOK_SECRET=super_secret_webhook_token
BOT_WEB_HOST=0.0.0.0
BOT_WEB_PORT=8081