BOT_TOKEN=123456:ABC-DEF
API_GATEWAY_URL=http://localhost:8080
LOG_LEVEL=INFO
BOT_REDIS_URL=redis://localhost:6379/1

# настройки вебхука
WEBHOOK_BASE=https://example.com
WEBHOOK_PATH=YOUR_PATH
WEBHOOK_SECRET=super_secret_webhook_token
WEB_HOST=0.0.0.0
WEB_PORT=8081